.producto-item {
  --padding-start: 10px;
  --inner-padding-end: 10px;
  margin: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

ion-thumbnail {
  --size: 60px;
  --border-radius: 8px;
}

.categoria {
  font-size: 0.8rem;
  color: var(--ion-color-medium);
  margin-top: 5px;
}

ion-badge {
  margin-left: 8px;
}